
body {
            font-family: Arial;
            background-color: #1c0cfe;
            margin: 20px;
        }
         .container {
            background: rgb(215, 215, 232);
            padding: 50px;
            border-radius: 10px;
        }

         img {

             width: 150px;
            border-radius: 10px;

        }
        .motto {
            position: relative;
            overflow: show;
            white-space: nowrap;
        }

        .motto span {
            position: absolute;
            animation: gerak 15s linear infinite;
        }

        @keyframes gerak {
            from { left: 100%; }
            to { left: -100%; }
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
             background-color: #ffff;
        }

        a {
            text-decoration: none;
            background: darkblue;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;

        }


